@charset "UFT-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 100%;
    max-width: 100%;
}
body {
    font-size: 100%;
}

/* -----文字についての設定----- */
.ruby {
    color: #909090;
}

/* -----header----- */
header {
    position: fixed;
    width: 100%;
    border: 1px solid #000;
    border-top: none;
    border-radius: 0 0 25px 25px;
    backdrop-filter: blur(4px);
}
#nav {
    display: flex;
    justify-content: center;
    position: relative;
}
#nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 30px;
}
#nav li a {
    font-size: 20px;
    text-decoration: none;
    mix-blend-mode: difference;
    color: #000;
}
#nav-logo {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* -----mainvisual----- */
.mainvisual-logo {
    width: 150px;
}

/* -----about----- */
.about-image {
    max-width: 20%;
}

/* -----works----- */
.carousel ul {
    display: flex;
    list-style: none;
}
.works-image {
    max-width: 100%;
}
.thumbnail-box {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.works-thumbnail {
    max-width: 50%;
}

/* -----contact----- */
#contact a {
    text-decoration: none;
}

/* -----footer----- */
footer {
    display: flex;
}
.footer-logo {
    max-width: 10%;
}



/* ---------------------------------
aboutページ
-----------------------------------*/
.wheelchair-image {
    width: 100%;
}

/* -----career----- */
#career ul {
    list-style: none
}
#career li {
    display: flex;
}
.left {
    border-right: 5px solid #909090;
}



/* ----------------------------------
worksページ
------------------------------------ */
.work-mockup {
    max-width: 50%;
}
.work-information ul {
    list-style: none;
}
.work-information li {
    display: flex;
}
.production-period {
    display: flex
}
.tools-used {
    display: flex;
}
.site-screen {
    max-width: 80%;
    display: flex;
}
.desktop-screen {
    width: 75%;
    height: 100%;
}
.smartphone-screen {
    width: 25%;
    height: 100%;
}