@charset "UFT-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 100%;
    line-height: 200%;
    max-width: 100%;
}
body {
    font-size: 100%;
}

/* -----文字についての設定----- */
.ruby {
    color: #909090;
}

/* -----header----- */
header {
    position: fixed;
    width: 100%;
    border: 1px solid #000;
    border-top: none;
    border-radius: 0 0 25px 25px;
    backdrop-filter: blur(4px);
}
#nav {
    display: flex;
    justify-content: center;
    position: relative;
}
#nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 30px;
}
#nav li a {
    font-size: 20px;
    text-decoration: none;
    mix-blend-mode: difference;
    color: #000;
}
#nav-logo {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* -----mainvisual----- */
#mainvisual {
    aspect-ratio: 16/9;
}
.mainvisual-wrapper {
    display: inline-block;
    margin-top: 33vh;
    margin-left: 4vw;
}
.welcome-to-text {
    font-size: 3vw;
    margin-bottom: 1vw;
}
.mainvisual-logo {
    width: 18vw;
}
.mainvisual-name {
    display: flex;
    align-items: flex-end;
}
.mainvisual-name-text {
    margin-left: -3.5vw;
    margin-bottom: 5.5vw;
    font-size: 10vw;
}
.portfolio-website-text {
    font-size: 3vw;
    margin-top: 2vw;
}

/* -----about----- */
#about {
    max-height: 900px;
    aspect-ratio: 9/9;
    margin-top: 50px;
    margin-inline: auto;
}
.about-title {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 10px;
}
.ruby {
    text-align: center;
    font-size: 2pem;
}
.about-inner {
    display: flex;
}
.about-inner button {
    font-size: 1rem;
    height: 50px;
    width: 145px;
    margin-top: 22%;
    margin-left: 30%;
    color: #fff;
    background-color: #000;
    padding: 15px;
    border-radius: 30px;
}
.about-image {
    margin-top: 15px;
    margin-left: 15px;
    width: 40%;
    max-width: 350px;
    border-radius: 50px;
}
.about-description {
    width: 50%;
    max-width: 400px;
    border-radius: 30px;
    margin-top: -12%;
    margin-left: 15%;
    padding: 20px 30px;
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(4px);
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    
}

/* -----skills----- */
#skills-container {
    background-color: #222523;
    border-radius: 50px 50px 0 0;
    padding-top: 90px;
}
#skills {
    color: #fff;
    max-height: 900px;
    aspect-ratio: 9/9;
    margin-top: 50px;
    margin-inline: auto;
}
.skills-title {
    color: #2C3630;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 10px;
    -webkit-text-stroke: 1px #fff;
}
.skills-design {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.design-ruby {
    color: #909090;
}
.skills-design-description {
    width: 45%;
    max-width: 500px;
}
.tools {
    color: #909090;
}
.development-wrapper {
    margin-left: 50%;
}
.skills-development-description {
    max-width: 500px;
    width: 100%;
}
.skills-development {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: end;
    margin-bottom: 10px;
}
.development-ruby {
    margin-left: 45%;
    color: #909090;
}


/* -----works----- */
.carousel ul {
    display: flex;
    list-style: none;
}
.works-image {
    max-width: 100%;
}
.thumbnail-box {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.works-thumbnail {
    max-width: 50%;
}

/* -----contact----- */
#contact a {
    text-decoration: none;
}

/* -----footer----- */
footer {
    display: flex;
}
.footer-logo {
    max-width: 10%;
}



/* ---------------------------------
aboutページ
-----------------------------------*/
.wheelchair-image {
    width: 100%;
}

/* -----career----- */
#career ul {
    list-style: none
}
#career li {
    display: flex;
}
.left {
    border-right: 5px solid #909090;
}



/* ----------------------------------
worksページ
------------------------------------ */
.work-mockup {
    max-width: 50%;
}
.work-information ul {
    list-style: none;
}
.work-information li {
    display: flex;
}
.production-period {
    display: flex
}
.tools-used {
    display: flex;
}
.site-screen {
    max-width: 80%;
    display: flex;
}
.desktop-screen {
    width: 75%;
    height: 100%;
}
.smartphone-screen {
    width: 25%;
    height: 100%;
}